.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--purple);
  color: var(--white);
}
.footer .line {
  border: 0.5px solid var(--grey-text);
  width: 95%;
}
.explanation p {
  font-size: 1.1rem;
  text-align: center;
}
.explanation p span {
  color: var(--orange);
  font-weight: 500;
}

@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    gap: 0.5rem;
  }
}
