.list {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  gap: 2rem;
  margin: 2rem 2rem;
}
.list li {
  list-style: none;
}

@media screen and (max-width: 450px) {
  .list {
    grid-template-columns: auto;
    margin: 2rem 1rem;
  }
}
