.item {
  display: grid;
  grid-template-columns: 30% auto;
  border: 1px solid var(--orange);
  border-radius: 0.5rem;
  width: 60vw;
}
.item img {
  border-radius: 7px 0 0 7px;
}
.item .details {
  padding: 1rem;
}
.item h2 {
  color: var(--redish);
  padding-bottom: 0.5rem;
}
.item .description {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
.item .location {
  color: var(--orange);
  padding-bottom: 0.5rem;
  white-space: pre;
}
.item .date {
  color: var(--redish);
}
