.logistics {
  display: grid;
  place-items: center;
  margin: 1rem 0;
}
.logistics .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.eventDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--redish);
  font-size: 1.5rem;
  font-weight: 400;
}
.eventDetails time,
.eventDetails address {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.eventDetails .address {
  color: var(--black);
  font-weight: 300;
}
.logistics .container img {
  min-width: 40vw;
  min-height: 40vh;
  border-radius: 0.5rem;
  animation: flip;
  animation-duration: 2s;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
  }
}

@media screen and (max-width: 450px) {
  .logistics .container {
    grid-template-columns: auto;
    gap: 1rem;
  }
  .logistics .container img {
    width: 92vw;
    height: 35vh;
    margin: 0 1rem;
  }
  .eventDetails {
    margin: 0 1rem;
    font-size: 1rem;
  }
}
