.linkButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-grey);
  background-color: var(--black);
  border: 2px solid var(--black);
  border-radius: 1rem;
  width: 40%;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.3rem 1rem;
}
.linkButton:hover {
  color: var(--black);
  background-color: var(--light-grey);
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.linkButton svg {
  font-size: 1.3rem;
}
.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--light-grey);
  background-color: var(--black);
  border: 2px solid var(--black);
  border-radius: 0.25rem;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.3rem 1rem;
}
.button:hover {
  cursor: pointer;
  color: var(--black);
  background-color: var(--light-grey);
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.button svg {
  font-size: 1.3rem;
}
