.header {
  position: fixed;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
}
.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.scrolled {
  position: fixed;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  background-color: var(--black-opacity);
}
.active {
  color: var(--redish) !important;
  font-weight: 700 !important;
}
.inactive {
  color: var(--orange);
}
