.header {
  position: fixed;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
}
.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.scrolled {
  position: fixed;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  background-color: var(--black-opacity);
}
.scrolled svg {
  display: none;
}
.active {
  color: var(--redish) !important;
  font-weight: 700 !important;
}
.inactive {
  color: var(--orange);
}
.header svg {
  display: none;
  font-size: 2rem;
  color: var(--orange);
}
.scrolled svg {
  font-size: 2rem;
  color: var(--orange);
}
.header svg:hover {
  color: var(--redish);
}

@media screen and (max-width: 450px) {
  .header svg {
    display: block;
  }
  .scrolled svg {
    display: block;
  }
  .header nav ul {
    display: none;
  }
  .scrolled nav ul {
    display: none;
  }
}
