.header {
  position: fixed;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
}
.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.header svg {
  display: none;
  font-size: 2rem;
  color: var(--black);
}
.header svg:hover {
  color: var(--light-grey);
}

/* On scroll Header */
.scrolled {
  position: fixed;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  background-color: var(--black-opacity);
}
.scrolled a:first-child {
  color: var(--light-grey);
}
.scrolled .links a {
  color: var(--light-grey);
}
.scrolled svg {
  display: none;
}
.scrolled .active {
  color: var(--light-grey) !important;
  border-bottom: 2px solid var(--light-grey);
}
.active {
  border-bottom: 2px solid var(--black);
}
.inactive {
  color: var(--black);
}
.scrolled svg {
  font-size: 2rem;
  color: var(--light-grey);
}

@media screen and (max-width: 450px) {
  .header {
    padding: 1rem;
  }
  .scrolled {
    padding: 1rem;
  }
  .header svg {
    display: block;
  }
  .scrolled svg {
    display: block;
  }
  .header nav ul {
    display: none;
  }
  .scrolled nav ul {
    display: none;
  }
}
