* {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --grey: #9db2bf;
  --light-grey: #f6f1f1;
  --orange: #ff6000;
  --light-orange: #ff9f45;
  --redish: #db005b;
}
.body {
  background-color: var(--light-grey);
}
h1 {
  color: var(--redish);
  margin-bottom: 2rem;
  text-align: center;
}
