@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --black-opacity: #00000099;
  --grey: #9db2bf;
  --light-grey: #f6f1f1;
  --orange: #ff6000;
  --light-orange: #ff9f45;
  --redish: #db005b;
  --green: #82cd47;
  --blue: #146c94;
  --light-blue: #19a7ce;
}
body {
  background-color: var(--light-grey);
  font-family: "Oswald", sans-serif;
}
h1 {
  color: var(--redish);
  margin-bottom: 2rem;
  text-align: center;
}
